# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon.shape

(800, 13)

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [27]:
# Your code here:
pokemon.groupby('Legendary',axis=0)['#'].count()

Legendary
False    735
True      65
Name: #, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
# Your code here:
pd.DataFrame(pokemon.groupby('Legendary', as_index=False)['Total'].mean())

   Legendary       Total
0      False  417.213605
1       True  637.384615

In [15]:
pokemonNormal=pokemon[pokemon.Legendary==False]

In [16]:
pokemonLegendary=pokemon[pokemon.Legendary==True]

In [41]:
pokemon['Total2'] = np.where(pokemon.Legendary == True, pokemon.Total, float("nan"))

In [42]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN

In [43]:
pokemon.Total2.mean(skipna=True)

637.3846153846154

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [51]:
# Your code here:
from scipy.stats import ttest_ind

ttest_ind(pokemonNormal.Total, pokemonLegendary.Total, nan_policy='omit')

Ttest_indResult(statistic=-13.44910318553688, pvalue=1.423321331705147e-37)

What do you conclude from this test? Write your conclusions below.

In [50]:
# Your conclusions here:

#Las medias son diferentes

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [53]:
# Your code here:

pd.DataFrame(pokemon.groupby('Type 1', as_index=False)['#'].count())

      Type 1    #
0        Bug   69
1       Dark   31
2     Dragon   32
3   Electric   44
4      Fairy   17
5   Fighting   27
6       Fire   52
7     Flying    4
8      Ghost   32
9      Grass   70
10    Ground   32
11       Ice   24
12    Normal   98
13    Poison   28
14   Psychic   57
15      Rock   44
16     Steel   27
17     Water  112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [59]:
# Your code here:

pokemon['Type water'] = np.where(pokemon['Type 1'] == 'Water', 'Water', 'Other')

In [55]:
pd.DataFrame(pokemon.groupby('Type water', as_index=False)['Total'].mean())

  Type water       Total
0      Other  435.859012
1      Water  430.455357

In [56]:
pd.DataFrame(pokemon.groupby('Type water', as_index=False)['Total'].std())

  Type water       Total
0      Other  121.091682
1      Water  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [60]:
pokemon['TotalWater'] = np.where(pokemon['Type water'] == 'Water', pokemon.Total, float("nan"))
pokemon['TotalOther'] = np.where(pokemon['Type water'] == 'Other', pokemon.Total, float("nan"))

In [61]:
# Your code here:

ttest_ind(pokemon.TotalWater, pokemon.TotalOther, nan_policy='omit')

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317490057)

Write your conclusion below.

In [63]:
# Your conclusions here:
#El P values es demasiado grande como para descartar que las medias sean iguales

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [62]:
# Your code here:

from scipy.stats import ttest_ind

In [65]:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [66]:
# Your conclusions here:

#El P valiue nos permite refutar la hipótesis nula, podemos decir que ataque y defensa son diferentes

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [69]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#El valor de P value es demasiado grande para descartar la hipótesis nula por lo que no podemos afirmar que las medias sean distintas

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [71]:
# Your code here:
    
import scipy.stats as stats

In [75]:
stats.ttest_1samp((pokemon.Attack-pokemon.Defense), 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: